
body{
	margin: 0%;
	position: fixed;
	height: 100%;
	width: 100%;
}
.e5_74 { 
	background-color:rgba(0, 0, 0, 1);
	width:100%;
	height:982px;
	position:absolute;
	background-image:url(../images/);
	background-repeat:no-repeat;
	background-size:cover;
overflow:hidden;
}
.e5_76 { 
	width:30px;
	height:30px;
	position:absolute;
	left:209px;
	top:579px;
	background-image:url(../images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_77 { 
	width:30px;
	height:30px;
	position:absolute;
	left:297px;
	top:579px;
	background-image:url(../images/facebook_logo_2019.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_78 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:48px;
	position:absolute;
	left:600px;
	top:30px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e5_79 { 
	width:30px;
	height:30px;
	position:absolute;
	left:112px;
	top:579px;
	background-image:url(../images/instagram.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_81 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:593px;
	top:130px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:583px;
	top:161px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
border:1px solid rgba(255, 0, 0, 1);
}

.e5_83 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:602px;
	top:173px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_84 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:22px;
	position:absolute;
	left:593px;
	top:209px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:583px;
	top:235px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	border:1px solid rgba(255, 0, 0, 1);
}

.e5_86 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:602px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_87 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:27px;
	position:absolute;
	left:1079px;
	top:350px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_88 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:27px;
	position:absolute;
	left:1079px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_89 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:27px;
	position:absolute;
	left:591px;
	top:350px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_90 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:610px;
	top:520px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_91 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:640px;
	top:528px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}

.e5_92 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:245px;
	top:520px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_93 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:274px;
	top:528px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}



.e5_94 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:1000px;
	top:520px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_95 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:1030px;
	top:528px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e5_96 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:1230px;
	top:50px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}

.e5_97 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:1088px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_98 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:1126px;
	top:292px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_99 { 
	color:rgba(255, 255, 255, 1);
	width:47px;
	height:16px;
	position:absolute;
	left:1162px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e5_100 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:591px;
	top:390px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:581px;
	top:420px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
border:1px solid rgba(255, 0, 0, 1);
}

.e5_102 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:600px;
	top:430px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_103 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:22px;
	position:absolute;
	left:591px;
	top:476px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:581px;
	top:505px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
border:1px solid rgba(255, 0, 0, 1);
}

.e5_105 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:600px;
	top:515px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_106 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:638px;
	top:560px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_107 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:671px;
	top:569px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e5_108 { 
	color:rgba(255, 255, 255, 1);
	width:107px;
	height:19px;
	position:absolute;
	left:1079px;
	top:390px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:1069px;
	top:420px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
border:1px solid rgba(255, 0, 0, 1);
}

.e5_110 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:1088px;
	top:430px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_111 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:22px;
	position:absolute;
	left:1079px;
	top:476px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e5_112 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:234px;
	height:43px;
	position:absolute;
	left:1069px;
	top:505px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
border:1px solid rgba(255, 0, 0, 1);
}


.e5_113 { 
	color:rgba(26.000000350177288, 9.000000413507223, 9.000000413507223, 0.6499999761581421);
	width:192px;
	height:21px;
	position:absolute;
	left:1088px;
	top:515px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_114 { 
	background-image:linear-gradient(0deg, rgba(240.12499898672104, 9.004696011543274, 9.004696011543274, 1) 0%,rgba(255, 0, 0, 0.6770833134651184) 93.22916865348816%,rgba(255, 0, 0, 0) 100%) ;
	width:119px;
	height:32px;
	position:absolute;
	left:1124px;
	top:560px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e5_115 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:16px;
	position:absolute;
	left:1165px;
	top:569px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e5_158 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:150px;
	top:90px;
	background-image:url(../images/rectangle_11\ \(1\).png);
	background-repeat:no-repeat;
	background-size:cover;
	border:1px solid rgba(255, 255, 255, 1);
}

.e5_159 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:525px;
	top:90px;
	background-image:url(../images/rectangle_11\ \(1\).png);
	background-repeat:no-repeat;
	background-size:cover;
	border:1px solid rgba(255, 255, 255, 1);
}

.e5_160 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:900px;
	top:90px;
	background-image:url(../images/rectangle_11\ \(1\).png);
	background-repeat:no-repeat;
	background-size:cover;
	border:1px solid rgba(255, 255, 255, 1);
}

.e5_307 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:24px;
	position:absolute;
	left:583px;
	top:89px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e8_314 { 
	transform: rotate(-179.9155816204785deg);
	width: 50px;
	height: 50px;;
	position:absolute;
	left:40px;
	top:30px;
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-size:cover;
}
